{% extends 'base.html.twig' %}

{% block title %}Détails d'un' souhait - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
    <h1>Détails d'un souhait</h1>
    </div>


{% endblock %}
